:root {
}

h1 {
  color: white;
  font-size: 32px;
  font-family: verdana;
}

h2 {
  color: white;
  font-size: 16px;
  font-family: verdana;
}

h3 {
  color: white;
  font-size: 16px;
  font-family: verdana;
}

body {
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
}

.button {
  color: gray;
  background-color: white;
  font-family: verdana;
}

.dropdown {
  color: gray;
  background-color: white;
  font-family: verdana;
}
